doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
        link(rel="stylesheet", href="/public/css/style.css")
    body 
        header 
            h1 Noom
        main#main
            article#welcome
                h2 Welcome!
                h3 Noom에 오신 것을 환영합니다.
                h3 당신의 친구와 실시간 1:1 영상 통화를 할 수 있습니다.
                h3 영상 통화를 위해 방을 개설해보세요.
                form
                    input(placeholder="room name", required, type="text")
                    button Enter room
        mian#room
            form#exit-form
                input(type="submit" id="exit-room-button")
            article#call
                section#myStream
                    video#myFace(autoplay, playsinline, width="400", height="400")
                    div#buttons
                        button#mute Mute
                        button#camera Turn Camera Off
                        select#cameras
                section
                    div#chat
                    form#chat-form
                        input(type="text", id="chat-input" placeholder="write a message", required)
                        input(type="submit", value="message")
                video#peerFace(autoplay, playsinline, width="400", height="400")
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")