body {
    position: relative;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Jeju Gothic', sans-serif;
    color: white;
    text-shadow: -0.07em 0 darkslategray, 0 0.07em darkslategray, 0.07em 0 darkslategray, 0 -0.07em darkslategray;
    margin: 0;
}

#bgImg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
    width: 100%;
    height: 100vh;
    background-image: url(../img/0.jpg);
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 70%;
}

header {
    margin-top: 2em;
    text-align: center;
}

#welcome {
    margin: 5em;
}

h1 {
    font-size: 6em;
    margin: 0.2em;
    padding-left: 2em;
    padding-right: 2em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 2em;
}

h2,
h3 {
    font-weight: normal;
    margin: 0.5em;
}

p {
    margin: 0.5em;
}
    #notice {
        display: hidden;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 0.3em;
        padding: 0.5em;
        font-size: 1.5em;
    }

.disappear {
    animation: fade-out 1s forwards;
}

@keyframes fade-out {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

hr {
    width: 60em;
}

input {
    background-color: rgba(255, 255, 255, 0.2);
    max-width: 100%;
    height: auto;
    padding: 0.3em;
    font-family: inherit;
    font-size: 2em;
    outline: none;
    border-radius: 0.3em;
    border: none;
    text-align: center;
    text-shadow: inherit;
    color: white;
    transition: all 0.4s;
}   
    input:hover {
        background-color: rgba(255, 255, 255, 0.4);
    }
        input:hover::-webkit-input-placeholder {
            color: rgba(50, 50, 50, 1.0);
        }
    
    input:focus {
        background-color: rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid white;
    }

    input#room-name-text {
        width: 15em;
    }

    input#exit-room-button:hover {
        color: red;
    }

    input#chat-input {
        font-size: 1.5em;
    }

    input#chat-submit {
        font-size: 1.5em;
    }

    input[type="submit"] {
        margin-left: 0.3em;
        height: 1.7em;
    }
        input[type="submit"]:active {
            background-color: rgba(255, 255, 255, 0.1);
        }

button {
    border: none;
    border-radius: 0.3em;
    font-family: inherit;
    font-size: 1em;
    min-width: 5em;
}

footer {
    position: absolute;
    bottom: 2em;
    right: 1em;
}

footer p {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

select {
    -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
    font-family: inherit;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.5em;
    border: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 1em;
    color: inherit;
    outline: none;
    transition: 0.4s;
}
    select:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    select:focus {
        background-color: rgba(0, 0, 0, 0.3);
    }

#exit-form {
    position: absolute;
    right: 1em;
    z-index: 10;
}

#call {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2em;
}

.Face {
    background-image: url(../img/waiting.gif);
    background-repeat: no-repeat;
    background-position: center;
}

#chat-section {
    height: 25em;
    width: 40em;
}
    #chat {
        margin: 1em;
        height: 30em;
        overflow-y: scroll;
    }
        #chat p {
            font-size: 1.5em;
            margin: 0.1em;
            padding: 0.2em;
        }

    .my-div {
        text-align: left;
    }
        .my-chat {
            display: inline-block;
            border-radius: 0.5em;
            background-color: rgba(0, 217, 255, 0.2);
        }

    .peer-div {
        text-align: right; 
        }
        .peer-chat {
            display: inline-block;
            border-radius: 0.5em;
            background-color: rgba(0, 0, 0, 0.2);
        }

    #chat-form {
        text-align: center;
    }