#input {
    text-align: center;
}

header {
    text-align: center;
}

#welcome {
    text-align: center;
}

#myStream {
    float: left;
    flex-direction: column;
}

#buttons {
    display: flex;
    width: 400px;
}

#peerFace {
    float: left;
}